.home {
    display: flex;
    justify-content: center;
}
.volver {
    margin-top: 20px;

    background-color: rgb(253, 5, 179);
    padding: 10px 20px;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    color: rgb(255, 255, 255);

}

.volver:hover {
    background-color: black;
    
}